@import "tailwindcss";

/* #root {
  --text: #1f2937;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}


body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f8f9fa;
  line-height: 1.6;
  color: var( --text);
} */